.cardImage{
    width: 100%;
    filter: drop-shadow(-1px 2px 1px #6a6161);
    margin: 0%;
    padding: 0%;
}

.cardImageVertical{
    margin: 0%;
    padding: 0%;
    
    height: 100%;
    width: 100%;
    filter: drop-shadow(-1px -1px 1px #6a6161);
}

.cardImageVertical:hover{
    filter: brightness(0.925) drop-shadow(-1px -1px 1px #6a6161);
}

.cardImageVertical:active{
    filter: brightness(0.85) drop-shadow(-1px -1px 1px #6a6161);
}

.cardImage:hover{
    filter: brightness(0.925) drop-shadow(-1px 2px 1px #6a6161);
}

.cardImage:active{
    filter: brightness(0.85) drop-shadow(-1px 2px 1px #6a6161);
}
