@import '../index.css';

.Container{
  width: 100%;
  height: 100%;

  background-color: var(--main-color);
  display: grid;
  grid-template-rows: 25% 50% 25%;
  grid-template-columns: 20% 5% 50% 5% 20%;
}

.loadingContainer{
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
}

.userCorner{
  grid-row-start: 1;
  grid-column-start: 1;

  width: 100%;
  height: 100%;
  padding: 0;

  display: flex;
}

.cornerButton{
  background-color: inherit;
  border: 0;

  width: 40px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  margin: 1px;
}

.cornerButton:hover .tooltip {
  visibility: visible;
  opacity: 1;

  transition: opacity 0.3s;
}

.cornerButton .tooltip{
  visibility: hidden;
  opacity: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-style: normal;

  margin: 0;
  padding: 2px 5px;

  position: absolute;
  top: 40px;

  background-color: var(--secondary-color);
  color: var(--main-color);

  border-radius: 5px;
}

.cornerIcon{
  width: inherit;
  height: inherit;
  color: var(--secondary-color);
}

.cornerIcon:hover{
  transition: 200ms;

  color: var(--secondary-color-hover);
  transform: scale(1.1);
}

.cornerIcon:active{
  transition: 200ms;
  transform: scale(1);
}


.rowContainer{
  display: flex;
  justify-content: center;

  margin: 15px 0px;
}

.readyCircle{
  background-color: transparent;
  height: 5vh;
  width: auto;

  margin: 4.5px;
}

.playerReadyContainer{
  grid-row-start: 2;
  grid-column-start: 3;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.words{
  composes: genericText from '../index.css';
  color: var(--secondary-color);
  font-weight: 400;
}

.playButton{
  composes: genericButton from '../index.css';
  color: var(--main-color);
  background-color: var(--secondary-color);
  font-size: xx-large;
  height: fit-content;

  margin-bottom: 5px;
  padding: 0.5% 1.5%;

  border-radius: 7px;

  transition: 200ms;
  transform: scale(1);
}

.playButton:hover{
  transition: 200ms;
  transform: scale(1.1);
}

.playButton:active{
  transition: 200ms;
  color: var(--main-color-hover);
}

.p{
  composes: genericText from '../index.css';

  color: var(--secondary-color);
  line-height: 40px;
  text-align: center;
  font-size: medium;
  margin-top: 2px;
}

.h1{
  composes: genericText from '../index.css';
  font-size: xx-large;
  color: var(--secondary-color);
}