.userName{
    margin: 0%;
    padding: 0%;
    height: 100%;
    display: flex;
    justify-content: center;

    composes: genericText from '../index.css';
    font-weight: 600;
    font-size: larger;
    color: var(--secondary-color);
}

.userNameVertical{
    margin: 0%;
    padding: 0%;
    width: 100%;
    display: flex;
    justify-content: center;

    composes: genericText from '../index.css';
    font-weight: 600;
    font-size: larger;
    color: var(--secondary-color);

    /* The only difference with .userName */
    transform: rotate(-90deg)
}