@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600;700;800&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Variables to be used across the web app */
:root{
  --main-color: #4281ff;
  --main-color-hover: #2f62c9;
  --secondary-color: #ffffff;
}

.generalText{
  color: var(--main-color);
  background-color: inherit;

  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-style: normal;

  margin: 0;
  padding: 0;
}